<div class="gradient footer container-fluid">
    <div class="row">
        <div class="col-12">
            <hr class="white-line">
        </div>
        <div class="col-md-4 col-12 fila-1">
            <a appScrollToTop><img src="../../../assets/icons/logo.png" alt="Logo" class="footer-logo"></a>
            <hr class="white-line-contact">
            <div class="pb-3">
                <a class="d-block text-decoration-none" style="color: white;"><img src="../../../assets/icons/WhatsappLogo.png" alt="Whatsapp" class="pe-2"> Whatsapp</a>
                <b class="d-block text-decoration-none ps-5">+55 (11) 977331660</b>
            </div>
            <div class="pb-3">
                <a class="d-block text-decoration-none" style="color: white;"><img src="../../../assets/icons/EnvelopeOpen.png" alt="Email" class="pe-2"> Email</a>
                <b class="d-block text-decoration-none ps-5">UpsSuporte&#64;outlook.com</b>
            </div>
            <div>
                <a class="d-block text-decoration-none" style="color: white;"><img src="../../../assets/icons/Phone.png" alt="Telefone" class="pe-2"> Telefone</a>
                <b class="d-block text-decoration-none ps-5">+55 (11) 977331660</b>
            </div>
        </div>
        <div class="col-md-4 col-12 fila-1">
            <h4 class="footer-heading">Quem Somos</h4>
            <a class="text-color hover" routerLink="/quem-somos-nos">
                <p>Sobre nos</p>
            </a>
        </div>
        <div class="col-md-4 col-12 fila-1">
            <h4 class="footer-heading">Suporte</h4>
            <a class="text-color hover" routerLink="/central-ajuda">
                <p>Central de ajuda</p>
            </a>
            <a class="text-color hover" routerLink="/politicas-privacidade">
                <p>Política de privacidade</p>
            </a>
        </div>
    </div>
</div>